<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="./assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    RHTE Store
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="./assets/css/material-kit.css?v=2.1.1" rel="stylesheet" />
  <link href="./assets/css/main.css" rel="stylesheet" />
</head>

<body class="shopping-cart">
   <nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
    <div class="container">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="button-container nav-item ">
            <a href="/finance" target="_blank" class="btn  btn-rose   btn-round btn-block">
              <i class="material-icons">attach_money</i> Finance App
            </a>
          </li>
          <li class="dropdown nav-item">
            <a href="#" class="profile-photo dropdown-toggle nav-link" data-toggle="dropdown">
              <div class="profile-photo-small">
                <img src="./assets/img/avatar.jpg" alt="Circle Image" class="rounded-circle img-fluid">
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <h6 class="dropdown-header">Profile</h6>
              <a href="#" class="dropdown-item">My information</a>
              <a href="#" class="dropdown-item">Sign out</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('./assets/img/examples/bg2.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">Shopping Page</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="card card-plain">
        <div class="card-body">
          <h3 class="card-title">Shopping Cart</h3>
          <br/>
          <div class="table-responsive">
            <table class="table table-shopping">
              <thead>
                <tr>
                  <th class="text-center"></th>
                  <th>Product</th>
                  <th class="th-description">Color</th>
                  <th class="th-description">Size</th>
                  <th class="text-right">Price</th>
                  <th class="text-right">Qty</th>
                  <th class="text-right">Amount</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {{#each products}}
                <tr>
                  <td>
                    <div class="img-container">
                      <img src="{{image}}" alt="...">
                    </div>
                  </td>
                  <td class="td-name">
                    <a href="#">{{name}}</a>
                    <br />
                    <small>by {{vendor}}</small>
                  </td>
                  <td>
                    {{color}}
                  </td>
                  <td>
                    {{size}}
                  </td>
                  <td class="td-number text-right">
                    <small>&euro;</small><span class="product-price animated-value">{{price}}</span>
                  </td>
                  <td class="td-number">
                    <span class="number-value product-qty">0</span>
                    <div class="btn-group btn-group-sm">
                      <button class="btn btn-round btn-info"> <i class="material-icons remove-product">remove</i> </button>
                      <button class="btn btn-round btn-info"> <i class="material-icons add-product">add</i> </button>
                    </div>
                  </td>
                  <td class="td-number line-total">
                    <small>&euro;</small><span class="line-total-value">0</span>
                  </td>
                  <td class="td-actions">
                    <button type="button" rel="tooltip" data-placement="left" title="Remove item" class="btn btn-link remove-product-line">
                      <i class="material-icons">close</i>
                    </button>
                  </td>
                </tr>
                {{/each}}
                <tr>
                  <td colspan="3"></td>
                  <td class="td-total">
                    Total
                  </td>
                  <td colspan="1" class="td-price">
                    <small>&euro;</small><span id="total-price">0</span>  
                  </td>
                  <td colspan="1"></td>
                  <td colspan="2" class="text-right">
                    <button type="button" class="btn btn-info btn-round" data-toggle="modal" data-target="#pay-modal">Complete Purchase <i class="material-icons">keyboard_arrow_right</i></button>
                  </td>
                </tr>
                <!-- <tr>
                <td colspan="6"></td>
                <td colspan="2" class="text-right">
                  <button type="button" class="btn btn-info btn-round">Complete Purchase <i class="material-icons">keyboard_arrow_right</i></button>
                </td>
              </tr> -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="pay-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-login" role="document">
      <div class="modal-content">
        <div class="card card-signup card-plain">
          <div class="modal-header">
            <div class="card-header card-header-primary text-center">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
              <h4 class="card-title">Credit Card</h4>
              <div class="social-line">
                <div id="visual-card-number">1213 1213 213 2123</div>
                <div>
                  <span class="visual-card-date datepicker">03/2022</span>
                  <span class="visual-card-code">123</span>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-body">
            <form class="form" id="pay-form">
              <div class="card-body">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">credit_card</i>
                      </span>
                    </div>
                    <input type="text" name="card-number" class="form-control" placeholder="" value="5151 2525 8080 2541">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">date_range</i>
                      </span>
                    </div>
                    <input type="text" name="card-date" class="form-control" placeholder="03/2010">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input type="text" name="card-security-code" placeholder="123" class="form-control" />
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer justify-content-center">
            <input type="submit" value="PAY" id="pay" data-dismiss="modal" class="btn btn-primary btn-link btn-wd btn-lg">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="confirm-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-small" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
        </div>
        <a href="#close-confirmation" data-dismiss="modal">
          <div class="modal-body text-center">
            <i class="material-icons check">check</i>
            <h5>Thanks for your purchase :)</h5>
          </div>
        </a>
      </div>
    </div>
  </div>
  
  <footer class="footer">
    <div class="container">
      <nav class="float-left">
        <ul>
          <li>
            <a href="https://github.com/orgs/openbanking-api-lifecycle">
              Source Code
            </a>
          </li>
          <li>
            <a href="https://github.com/orgs/openbanking-api-lifecycle">
              Report a issue
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright float-right">
        &copy;
        <script>
          document.write(new Date().getFullYear())
        </script> Red Hat Tech Exchange <i class="material-icons">favorite</i>.
      </div>
    </div>
  </footer>
  <!--   Core JS Files   -->
  <script src="./assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="./assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="./assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
  <script src="./assets/js/plugins/moment.min.js"></script>
  <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
  <script src="./assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
  <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <script src="./assets/js/plugins/bootstrap-tagsinput.js"></script>
  <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script src="./assets/js/plugins/bootstrap-selectpicker.js" type="text/javascript"></script>
  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
  <script src="./assets/js/material-kit.js?v=2.1.1" type="text/javascript"></script>
  <script src="./assets/js/main.js" type="text/javascript"></script>
</body>

</html>